@font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/round8-four-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist-Regular";
  src: url("../assets/fonts/Geist-Regular.ttf");
}

@font-face {
  font-family: "Panchang";
  src: url("../assets/fonts/Panchang-Variable.ttf");
}

@font-face {
  font-family: "Angelone" ;
  src: url("../assets/fonts/Angelone-2vXp8.ttf");
}