@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-angelone: "Angelone", sans-serif;
  --font-opensans: "OpenSans", sans-serif;
  --font-myfont: "MyFont", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-open-sans-light: "open-sans-light", sans-serif;
}

body {
  font-family: "OpenSans", sans-serif;
}